{% extends 'base.html' %}

{% load static %}
{% load codalab_tags %}

{% block page_title %}Admin Competitions Manager{% endblock page_title %}

{% block extra_headers %}
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/admin_competitions_manager.css" %}">
{% endblock %}

{% block content %}
    {% verbatim %}
        <div id="admin-competitions-manager-app">
            <v-app>
                <div class="admin-competitions-manager-app-container">
                    <h3>Competitions</h3>
                    <v-data-table
                        v-model="competitionsTableSelected"
                        item-key="id"
                        :headers="competitionsTableHeaders"
                        :items="competitionsTableItems"
                        :items-per-page="10"
                        :loading="competitionsTableLoading"
                        :sort-by.sync="competitionsTableSortBy"
                        :sort-desc.sync="competitionsTableSortDesc"
                        :search="competitionsTableSearch"
                        loading-text="Loading..."
                        show-select
                        class="elevation-1"
                    >
                        <template v-slot:top>
                            <v-text-field
                                v-model="competitionsTableSearch"
                                label="Search"
                                append-icon="mdi-magnify"
                                single-line
                                hide-details
                                clearable
                                class="mx-4"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.start_date="{ item }">
                            {{ item.start_date | prettyDate }}
                        </template>
                        <template v-slot:item.end_date="{ item }">
                            <template v-if="item.end_date">
                                {{ item.end_date | prettyDate }}
                            </template>
                            <template v-else>
                                -
                            </template>
                        </template>
                        <template v-slot:item.upper_bound_max_submission_size="{ item }">
                            <v-edit-dialog
                                :return-value.sync="item.upper_bound_max_submission_size"
                                @save="save"
                                @cancel="cancel"
                            >
                                {{ item.upper_bound_max_submission_size | prettyByte }}
                                <template v-slot:input>
                                    <v-text-field
                                        v-model="item.upper_bound_max_submission_size"
                                        :rules="[rules.positiveInteger]"
                                        label="Edit"
                                        single-line
                                    ></v-text-field>
                                </template>
                            </v-edit-dialog>
                          </template
                    </v-data-table>
                </div>
            </v-app>
        </div>
    {% endverbatim %}
{% endblock %}

{% block extra_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.3.0-beta.6/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.3/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pretty-bytes@^1"></script>

    <script>
        $(document).ready(function () {
            new Vue({
                el: '#admin-competitions-manager-app',
                vuetify: new Vuetify({
                    theme: {
                        themes: {
                            light: {
                                primary: '#4b7695',
                                secondary: '#b0bec5',
                                accent: '#8c9eff',
                                error: '#b71c1c',
                            },
                        },
                    },
                }),
                data: function () {
                    return {
                        competitionsTableSelected: [],
                        competitionsTableHeaders: [
                            {text: 'ID', value: 'id'},
                            {text: 'Title', value: 'title'},
                            {text: 'Organizer', value: 'creator'},
                            {text: 'Start date', value: 'start_date'},
                            {text: 'End date', value: 'end_date'},
                            {text: 'Upper bound of the max sumbission size', value: 'upper_bound_max_submission_size'}
                        ],
                        competitionsTableItems: [],
                        competitionsTableLoading: false,
                        competitionsTableSortBy: 'total',
                        competitionsTableSortDesc: true,
                        competitionsTableSearch: '',
                        rules: {
                            positiveInteger: value => !value || /^\+?\d+$/.test(value) || "Invalid size"
                        }
                    };
                },
                mounted: function () {
                    this.getCompetitions();
                },
                methods: {
                    getCompetitions() {
                        this.competitionsTableLoading = true;
                        fetch("/api/admin/competitions")
                        .then(response => {
                            if(response.ok) {
                                return response.json();
                            }
                            throw new Error('Something went wrong');
                        })
                        .then(json => {
                            this.competitionsTableItems = json;
                        })
                        .catch(error => {
                            console.log("error while fetching /api/admin/competitions", error);
                        })
                        .finally(() => {
                            this.competitionsTableLoading = false;
                        });
                    },
                    save() {
                        console.log('save');
                    },
                    cancel() {
                        console.log('cancel');
                    }
                },
                filters: {
                    prettyDate: function(date) {
                        return moment(date).calendar(null, {
                            sameDay: '[Today at] h:mm a',
                            nextDay: '[Tomorrow at] h:mm a',
                            nextWeek: 'dddd [at] h:mm a',
                            lastDay: '[Yesterday at] h:mm a',
                            lastWeek: '[Last] dddd [at] h:mm a',
                            sameElse: 'dddd, MMMM Do YYYY [at] h:mm a'
                        });
                    },
                    prettyByte: function(bytes) {
                        return prettyBytes(bytes);
                    }
                }
            });
        })
    </script>
{% endblock %}
