{% extends 'base.html' %}

{% load humanize %}
{% load codalab_tags %}

{% load static %}

{% block head_title %}Admin Competitions Manager{% endblock head_title%}
{% block page_title %}Admin Competitions Manager{% endblock page_title %}

{% block extra_headers %}
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "admin/css/admin_competitions_manager.css" %}">
{% endblock %}

{% block content %}
    {% verbatim %}
        <div id="admin-competitions-manager-app">
            <v-app>
                <div class="admin-competitions-manager-app-container">
                    <h3>Competitions</h3>
                    <v-data-table
                        v-model="competitionsTableSelected"
                        item-key="id"
                        :headers="competitionsTableHeaders"
                        :items="competitionsTableItems"
                        :items-per-page="10"
                        :loading="competitionsTableLoading"
                        :sort-by.sync="competitionsTableSortBy"
                        :sort-desc.sync="competitionsTableSortDesc"
                        :search="competitionsTableSearch"
                        loading-text="Loading..."
                        show-select
                        class="elevation-1"
                    >
                        <template v-slot:top>
                            <v-text-field
                                v-model="competitionsTableSearch"
                                label="Search"
                                append-icon="mdi-magnify"
                                single-line
                                hide-details
                                clearable
                                class="mx-4"
                            >
                            </v-text-field>
                      </template>
                    </v-data-table>
                </div>
            </v-app>
        </div>
    {% endverbatim %}
{% endblock %}

{% block extra_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.3.0-beta.6/vuetify.js"></script>

    <script>
        $(document).ready(function () {
            new Vue({
                el: '#admin-competitions-manager-app',
                vuetify: new Vuetify({
                    theme: {
                        themes: {
                            light: {
                                primary: '#4b7695',
                                secondary: '#b0bec5',
                                accent: '#8c9eff',
                                error: '#b71c1c',
                            },
                        },
                    },
                }),
                data: function () {
                    return {
                        competitionsTableSelected: [],
                        competitionsTableHeaders: [
                            {text: 'ID', value: 'id'},
                            {text: 'Title', value: 'title'},
                            {text: 'Organizer', value: 'creator'},
                            {text: 'Start date', value: 'start_date'},
                            {text: 'End date', value: 'end_date'},
                            {text: 'Upper bound of the max sumbission size', value: 'upper_bound_max_submission_size'}
                        ],
                        competitionsTableItems: [],
                        competitionsTableLoading: false,
                        competitionsTableSortBy: 'total',
                        competitionsTableSortDesc: true,
                        competitionsTableSearch: ''
                    };
                },
                mounted: function () {
                    
                },
                methods: {

                }
            });
        });
    </script>
{% endblock %}
